/*? Logo position */

.menu-logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-logo {
    width: 285px;
    height: auto;
}

.menu {
    height: 80px;
}

/*? Navbar yazı fontu */

.menu,
.menu-logo-container,
.menu-item,
.menu-logo,
.menu .item .menu,
.menu .item .button.primary,
.menu .item .menu .item {
    background-color: #E44A48 !important;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}