.banner {
    position: relative;
    top: 0;
    height: 70vh;
    background-color: white;
}

.banner .cover {
    position: absolute;
    z-index: 1;
    height: 100%;
    box-shadow: inset 4px -32px 32px 8px white;
    width: 100%;
}

.banner::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../../assets/images/pattern.png);
    background-position: start;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
}

.banner .content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 2;
    padding-inline: 36px;
    gap: 40px;
}

.banner .content .text p {
    opacity: 0.99999;
}

.contact {
    position: relative;
    width: 100%;
    height: 52px;
    margin: 0;
    border: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms;
    overflow: hidden;
    font-family: 'Outfit', sans-serif;
}

.contact::after {
    content: 'KİRALIK ARAÇLARIMIZ';
    position: absolute;
    left: 0;
    top: 52px;
    background-color: #e44a48;
    width: 100%;
    height: 52px;
    transition: 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contact:hover::after {
    top: 0;
    transition: 300ms;
}

.contact:hover {
    padding-bottom: 50px;
    transition: 400ms;
}

.contact:active {
    transform: scale(0.95);
    transition: 200ms;
}