.coupon-tags {
  display: flex;
  flex-wrap: wrap;
}

.coupon-tag {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
}

.coupon-code {
  font-weight: bold;
}

.coupon-discount {
  font-size: 0.8em;
  color: #6c757d;
}

.discount-coupons .no-coupon {
  font-weight: 800;
  opacity: 0.5;
  font-size: 1.1rem;
  margin-top: 15px;
}